<div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <ul>
            <li class="card-text">{{ingredients}}</li>
        </ul>
        <p class="card-text">{{post_text}}</p>
    </div>
</div>