<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/bootstrap-social.css">
  <link rel="stylesheet" href="styles/dashboard.css">
  {{!-- <link rel="stylesheet" href="styles/style.css"> --}}
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bone Apple Tea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
         {{#if loggedIn}}
        <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" id="logout">Logout</a>
        {{else}}
        <a class="nav-item nav-link" href="/enter">Get Cooking!</a>
        {{/if}}
        
      </div>
    </div>
  </nav>


  {{{ body }}}
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <p>
      {{style}}
      {{styles}}
  </p>

  <script>
      

      function changeBackGround(){
          let href= location.href;
          if (href.includes('dashboard')){
              document.body.setAttribute('class','dashboard')
              console.log('here')
          }else if (href.includes('post')) {
              document.body.setAttribute('class', 'post');
          }
      }
      changeBackGround()
  </script>
</body>



</html>