<div>
  <h2>Your Dashboard</h2>
  <a class="btn btn-primary btn-lg" href="/new-recipe" role="button">Create New Recipe</a>
</div>

<div class="container">
        <ul>
            {{#each posts as |post|}}
            <li>
                {{> post-info post }}
            </li>
            {{/each}}
        </ul>
    </div>