<div class="jumbotron centered">
  <div class="container">
      <i class="fas fa-utensils fa-6x"></i>
    <h1 class="display-4">Bone Apple Tea</h1>
    <p class="lead">Get Ready to cook!</p>
    <hr class="my-4">
     <p>If this is your first time here please signup below. And if you are returning, Welcome Back!</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>

  </div>
</div>